
            .card[data-id="1"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="2"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="3"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="4"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="5"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 10.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="6"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="7"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="8"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="9"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="10"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="11"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="12"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="13"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="14"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="15"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="16"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="17"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="18"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="19"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="20"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="21"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="22"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="23"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="24"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="25"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="26"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="27"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="28"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="29"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="30"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="31"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="32"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="33"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 100.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="34"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 100.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="35"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="36"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="37"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 10.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="38"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 10.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="39"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 10.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="40"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 10.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="41"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="42"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 20.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="43"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="44"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="45"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="46"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 30.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="47"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="48"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="49"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="50"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="51"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 40.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="52"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="53"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="54"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="55"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="56"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 50.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="57"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="58"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="59"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="60"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="61"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 60.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="62"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="63"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="64"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="65"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="66"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 70.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="67"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="68"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="69"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="70"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="71"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 80.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="72"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="73"] {
            background-image: url(''img/travel_cards.png'');
            background-position-x: 90.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="74"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="75"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="76"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="77"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 0.0000%; }
            
            .card[data-id="78"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 0.0000%; }
            
            .card[data-id="79"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 0.0000%; }
            
            .card[data-id="80"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="81"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="82"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 0.0000%;
            background-position-y: 100.0000%; }
            
            .card[data-id="83"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 100.0000%; }
            
            .card[data-id="84"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 100.0000%; }
            
            .card[data-id="85"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 14.2857%;
            background-position-y: 100.0000%; }
            
            .card[data-id="86"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 0.0000%; }
            
            .card[data-id="87"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 0.0000%; }
            
            .card[data-id="88"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 0.0000%; }
            
            .card[data-id="89"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 100.0000%; }
            
            .card[data-id="90"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 100.0000%; }
            
            .card[data-id="91"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 28.5714%;
            background-position-y: 100.0000%; }
            
            .card[data-id="92"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 0.0000%; }
            
            .card[data-id="93"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 0.0000%; }
            
            .card[data-id="94"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 0.0000%; }
            
            .card[data-id="95"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 0.0000%; }
            
            .card[data-id="96"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 0.0000%; }
            
            .card[data-id="97"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 0.0000%; }
            
            .card[data-id="98"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 100.0000%; }
            
            .card[data-id="99"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 100.0000%; }
            
            .card[data-id="100"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 42.8571%;
            background-position-y: 100.0000%; }
            
            .card[data-id="101"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 0.0000%; }
            
            .card[data-id="102"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 0.0000%; }
            
            .card[data-id="103"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 0.0000%; }
            
            .card[data-id="104"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 0.0000%; }
            
            .card[data-id="105"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 100.0000%; }
            
            .card[data-id="106"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 100.0000%; }
            
            .card[data-id="107"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 100.0000%; }
            
            .card[data-id="108"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 57.1429%;
            background-position-y: 100.0000%; }
            
            .card[data-id="109"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 100.0000%; }
            
            .card[data-id="110"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 100.0000%; }
            
            .card[data-id="111"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 100.0000%; }
            
            .card[data-id="112"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 71.4286%;
            background-position-y: 100.0000%; }
            
            .card[data-id="113"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 0.0000%; }
            
            .card[data-id="114"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 0.0000%; }
            
            .card[data-id="115"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 0.0000%; }
            
            .card[data-id="116"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 0.0000%; }
            
            .card[data-id="117"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 0.0000%; }
            
            .card[data-id="118"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 100.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="119"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 100.0000%;
            background-position-y: 0.0000%; }
            
            .card[data-id="120"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="121"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="122"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="123"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="124"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="125"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="126"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="127"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            
            .card[data-id="128"] {
            background-image: url(''img/other_cards.png'');
            background-position-x: 85.7143%;
            background-position-y: 100.0000%; }
            